{% extends "::base.html.twig" %}

{% block title %}CacBarBundle:parrainage:show{% endblock %}

{% block body %}
	<div class="toprint printCode">
		<ul>
			{% for code in codes %}
				
				
					<li>{{ code }}</li>
				
				
			{% endfor %}
		</ul>
	</div>
	<script>
		window.print();
	</script>
{% endblock %}
