{% extends "::base.html.twig" %}

{% block title %}Dernière étape pour bénéficier de votre verre gratuit !{% endblock %}

{% block body %}
<div>
    <h1>XXX <span>t'as offert un verre</span> au YYY</h1>
    <h4>Aucune inscription n'est nécessaire</h4>
    <div>
        <div>
            <h2>Choisissez la date de réservation</h2>
            <div>Datepicker</div>
        </div>
        <div>
            <form action="">
                <h2>Votre e-mail</h2>
                <p>Cet e-mail sera uniquement utilisé pour confirmer votre réservation.</p>
                <div>
                    <input type="text">
                </div>
                <h2>Votre Nom et Prénom</h2>
                <p>Votre nom et prénom seront uniquement transmis à l'établissement pour confirmer votre réservation.</p>
                <div>
                    <input type="text">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}