{% trans_default_domain 'FOSUserBundle' %}


			



		<div class="contentSuperInfoBar col-xs-12 col-sm-12 col-md-12 noPadding">
			<div class="superInfoBar contentUser overflowX noPadding">
				
				<div class="col-xs-12 col-sm-6 col-md-6">
					<h2>PROGRAMME DE FIDELITE</h2>
					<div class="col-xs-12 col-sm-12 col-md-12 noPadding">
						<div class="pointFidelite">
							<p>120 pts</p>
						</div>
						<p class="nextPointFidelite">=</p>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 noPadding">
						<div class="pointFidelite">
							<p>200 pts</p>
						</div>
						<p class="nextPointFidelite">=</p>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 noPadding">
						<div class="pointFidelite">
							<p>250 pts</p>
						</div>
						<p class="nextPointFidelite">=</p>
					</div>
						
					<h2>MES POINTS</h2>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-6">
					
				</div>

			</div>
		</div>


<div class="clear"></div>
