<footer>
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="colFooter col-xs-12 col-sm-4 col-md-4 noPadding">
			<h2>A propos de nous</h2><br/>
			<p>Qui sommes nous ?</p><br/>
			<p>Le concept</p><br/>
			<p>Ils parlent de nous</p><br/>
			<p>Vos suggestions nous interressent</p><br/>
		</div>
		<div class="colFooter col-xs-12 col-sm-4 col-md-4 noPadding">
			<h2>Besoin d'aide ?</h2><br/>
			<p>Contactez nous</p><br/>
			<p>F.A.Q.</p><br/>
			<p>C.G.U. / Mentions légales</p><br/>
		</div>
		<div class="colFooter col-xs-12 col-sm-4 col-md-4 noPadding">
			<h2>Click and cheers pro</h2><br/>
			<p>Inscrivez vous !</p><br/>
			<p>Contactez nous</p><br/>
			<p>Soyer rappelé immédiatement</p><br/>
		</div>
	</div>
	<div class="footerInfo col-xs-12 col-sm-12 col-md-12 noPadding">
		<div class="footerRS">
			
			<img src="{{asset('img/twitter.png')}}" alt="">
			<img src="{{asset('img/pinterest.png')}}" alt="">
			<img src="{{asset('img/facebook.png')}}" alt="">
		</div>
	</div>
	<p class="droitReserve">@2015 Click and cheers</p>
	<div class="clear"></div>
</footer>