<div class="navNewBar">
    <p>Click and Cheers<span>Pro</span></p>
</div>
<script type="text/javascript">
function souris(event)
{
  var x = event.clientX;
  var y = event.clientY;
  //alert('Vous avez cliqué au point de coordonnés: ' + x + ', ' + y );
}</script>