
<div class="navNewBar">
	<div class="row">	
	    <p><a href="{{ path('home') }}"><img src="{{asset('img/logoPetitPro.png')}}" alt="Click and Cheers"></a>Click and Cheers <span>Pro</span></p>
	    <p>Espace partenaire<p>
	    <p>Inscription</p>

	</div>
</div>
<script type="text/javascript">
function souris(event)
{
  var x = event.clientX;
  var y = event.clientY;
  //alert('Vous avez cliqué au point de coordonnés: ' + x + ', ' + y );
}</script>