{% extends "::base.html.twig" %}

{% block title %}Categorie | Option | Promotion{% endblock %}

{% block body %}
<h1>Categories</h1>
<div>
	<ol class="breadcrumb">
	  <li><a href="#">Promotion</a></li>
	  <li><a href="#">Option</a></li>
	  <li class="active">Categorie</li>
	</ol>
</div>
<div>
	<ul>
		{% for category in entities %}
		<li>{{ category.name }} - {{ category.shortcode }} <button data-id="{{ category.id }}" class="glyphicon glyphicon-remove"></li>
		{% endfor %}
	</ul>
</div>
<div>
	{{ form(form) }}
</div>
{% endblock %}
