{% extends "::base.html.twig" %}

{% block title %}CacBarBundle:Bar:index{% endblock %}

{% block body %}
<h1>Welcome to the Bar:index page</h1>
{% for bar in bars %}
	<ul>
		<li>{{ bar.name }}</li>
		<li>{{ bar.adress }}</li>
		<li>{{ bar.town }}</li>
		<li><a href="{{ path('bar_show', { id : bar.id }) }}">Consulter</a></li>
	</ul>
{% endfor %}
{% endblock %}
