{% extends '::base.html.twig' %}

{% block body %}

<script type="text/javascript">
	function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#form_file").change(function(){
        readURL(this);
    });
 </script>

	<div class="formBar col-xs-12 col-sm-12 col-md-12 noPadding">
		<h1>Vendez du rêve</h1>
		<div class="separation1"></div>
		<div class="separation2"></div>
	</div>
	<div class="subtitlePageRegisterBig">
		<p>Vos photos</p>

	</div>

	{{ form(form) }}

	<img id="blah" src="#" alt="your image" />
	<a href="{{ path("bar_show", {'id': id }) }}">Passer cette étape</a>

{% endblock %}