{% extends '::base.html.twig' %}

{% block body %}

	<div class="formBar col-xs-12 col-sm-12 col-md-12 noPadding">
		<h1>Vendez du rêve</h1>
		<div class="separation1"></div>
		<div class="separation2"></div>
	</div>
	<div class="subtitlePageRegisterBig">
		<p>Vos photos</p>

	</div>

	{{ form(form) }}

	

{% endblock %}