.avisAccueil{
	background-color: #303030;
	padding: 5px 0;
	text-align: center;
	color: #fff;
}

.avisAccueil p{
	margin:0;
	font-weight: 300;
}

.containeurAvis{
	width: 90%;
	margin: auto;
}

.contentAvis{
	background-color: #f6f6f6;
	padding: 10px;
	margin-top: 20px;
}

.contentAvis p{
	margin: 0;
}

.contentAvis h3{
	font-size: 14px;
	margin-bottom: 0px;
}

.backgroundBarAvis{
	background-color: #fff;
	padding: 5px;
}

.imageBarAvis{
	height: 80px;
    background-size: cover;
    background-position: 0 -20px; 
}


.nameBarAvis{
	background-color: #5ac4d4;
	color: #fff;
	font-size: 14px;
	text-align: center;
	font-weight: 300;
	padding: 5px 0;
	margin: 0;
}

.contentVote{
	border: 1px solid #ddd;
    text-align: center;
    margin-bottom: 10px;
}

.contentVote h4{
	background-color: #303030;
    margin: 0;
    color: #fff;
    font-size: 14px;
    padding: 5px 0;
    font-weight: 300;
}

.contentVoteCac h4{
background-color: #5ac4d4;
}


ul.notes-echelle {
	font:.75em/1.2 Arial, Helvetica, sans-serif;
	margin: auto;
    text-align: center;
    display: inline-block;
    padding: 10px 0;
}
ul.notes-echelle li {
	float:left;
	margin:0 5px;
	padding:0;
	list-style:none;
	min-width:20px;
	min-height:20px;
}
/* Correctif IE6 sur min-width & min-height */
* html ul.notes-echelle.js li {
	width:20px;
	height:20px;
}
ul.notes-echelle li label {
	display:block;
	text-align:center;
	line-height:20px;
	background:url('../img/etoiles.png') center top no-repeat;
	cursor:pointer;
}

ul.notes-echelle li.note-off label {
	background-position:center -60px;

}

label p{
	opacity: 0;
	
}

ul.notes-echelle.js input {
	position:absolute;
	left:-999%;
}

/* Effet lorsque une note est cochée */
 ul.notes-echelle li.note-checked {
	font-weight:bold;
}

.noteBar{
	padding: 30px;
}

.noteBar p{
	font-size: 35px;
}

.noteBar span{
	font-size: 55px;
	color: #5ac4d4;
}

#cac_barbundle_avis label{
	display: none;
}

#cac_barbundle_avis textarea, #cac_barbundle_avis input{
	width: 100%;
    background-color: #f6F6F6;
    border: none;
}

    












