/*****************HEADER*****************/

.navbar-default{
	background-color: #fff;
	border: 0px solid;
}
.containeurLogo{
	width:150px;
	margin: auto;
	position: relative;
}

.logoradius{
	width:100%;
	height: 150px;
	text-align: center;
	background-color: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	vertical-align: 150px;
}

.logoradius img{
	margin-top: 10%;
	width:80%;
	text-align: center;
}

.navbar-default .navbar-nav > li > a {
color: #000;
}

.navbar-nav > li > a{
	padding-top: 30px;
	padding-bottom: 26px;
	border-bottom: 4px solid #fff;
}

.navbar-nav > li > a:hover{
	border-bottom: 4px solid #5ac4d4;

}

.right > li {
	float: right;
}





/*****************BODY*****************/

.mainContaineur{
	background-image: url('../img/texture.png');
	min-height: 1000px;

}