/*****************GENERAL*****************/

.noPadding{
	padding: 0px;
}

.clear{
	clear:both;
}

.glyphicon{
	color: #fff !important;
}

.right{
	float: right;
}

.center{
	text-align: center;
}

.border{
	border: 1px solid #a8a8a8;
	width: 400px;
	margin: auto;
	padding: 20px 0px;
}

.left{
	text-align: left;
	padding-left: 15px;
}


/*****************HEADER*****************/

.navbar-default{
	background-color: #fff;
	border: 0px solid;
	left: 0;
    position: absolute;
    right: 0;
    z-index: 1030;
}

.navbar-afterscroll {
	background-color: #fff;
	border: 0px solid;
	left: 0;
    position: fixed;
    right: 0;
    z-index: 1030;
    top: -150px;
}

.logo-afterscroll img {
	height: 50px;
}

.containeurLogo{
	width:150px;
	margin: auto;
	position: relative;
}

.logoradius{
	width:100%;
	height: 150px;
	text-align: center;
	background-color: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	vertical-align: 150px;
}

.logoradius img{
	margin-top: 10%;
	width:80%;
	text-align: center;
}

.navbar-nav{
	margin: 0px;
}

.navbar-default .navbar-nav > li > a {
	color: #000;
}

.navbar-nav > li {
	margin-left: 60px;
}

.navbar-nav > li > a{
	padding-top: 30px;
	padding-bottom: 26px;
	border-bottom: 4px solid #fff;
}

.navbar-nav > li > a:hover{
	border-bottom: 4px solid #5ac4d4;

}



@media (max-width: 768px) {
    .navbar-nav > .pull-right {
        float: none !important;
    }
}




/*****************BODY*****************/

.mainContaineur{
	background-image: url('../img/texture.png');
	padding-top: 80px; 
}

.topPage{
	height: 360px;
	background-image: url('../img/accueil.png');
	background-size: cover;
	background-repeat: no-repeat;
	border-bottom: 6px solid #5ac4d4;
	margin-bottom: 50px;
}

.contentPage{
	text-align: center;
	padding-left: 50px;
	padding-right: 50px
}

.contentPage h2{
	padding-bottom: 10px;
	border-bottom: 2px solid #5ac4d4;
	font-size: 20px;
	margin-bottom: 15px;
}

.vignetteBar{
	margin-bottom: 50px;
}

.contentPage .vignetteBar img{
	max-width: 184px;
	width: 100%;
	padding-left: 2px;
	padding-right: 2px;
}

.contentPage .vignetteBar:nth-child(2) img, .contentPage .vignetteBar:nth-child(6) img{
	float: left;
	padding-left: 0px;
	padding-right: 4px;
}

.contentPage .vignetteBar:nth-child(4) img, .contentPage .vignetteBar:nth-child(8) img{
	float: right;
	padding-left: 4px;
	padding-right: 0px;
}


.shadowHover{
	position: absolute;
	top: 0;
	max-width: 184px;
	width: 100%;
	
	background: -webkit-linear-gradient(bottom,rgba(000000,0,0,0.6),rgba(000000,0,0,0));
	background: -o-linear-gradient(bottom,rgba(000000,0,0,0.6),rgba(000000,0,0,0));
	background: -moz-linear-gradient(bottom,rgba(000000,0,0,0.6),rgba(000000,0,0,0));
	background: linear-gradient(bottom,rgba(000000,0,0,0.6),rgba(000000,0,0,0));
	display: block;
}

.contentPage .vignetteBar:nth-child(2) .shadowHover, .contentPage .vignetteBar:nth-child(6) .shadowHover{
	left: 0;
	margin-left: 0px !important;
}

.contentPage .vignetteBar:nth-child(3) .shadowHover, .contentPage .vignetteBar:nth-child(7) .shadowHover{
	left: 50%;
}

.contentPage .vignetteBar:nth-child(4) .shadowHover, .contentPage .vignetteBar:nth-child(8) .shadowHover{
	right: 0 !important;
}

.shadowHover h3{
	color : #fff;
	border-top: 1px solid #fff;
	font-size: 11px;
	position: absolute;
	bottom: 0;
	left: 0;
	margin-left: 10px;
	width: 80%;
	text-align: left;

}

.shadowHover p.prix{
	display: none;
	color : #fff;
	font-size: 11px;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 25%;
	text-align: left;
	margin-bottom: 8px;
}

.shadowHover p.reduc{
	display: none;
	color : #fff;
	font-size: 11px;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 15%;
	text-align: left;
	margin-bottom: 8px;
}

.heart{
	color : #fff;
	font-size: 25px;
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 15%;
	margin-top: 18px;
}

.shadowHover p.pourcentage{
	display: none;
	color : #fff;
	font-size: 20px;
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 15%;
	margin-top: 18px;
}

.shadowHover span{

	color : #aaa;

}

.jaloux{
	width: 50%;
	margin: auto;
	margin-bottom: 30px;
}

.jaloux img{
	max-width: 279px;
	width: 100%;
	margin-bottom: 30px;
}

/********FICHE BAR********/

.topBar{
	position: relative;
	max-height:508px;
}

.topBar img{
	width: 100%;
	height: 100%;
	max-height:508px;
}

.infoNameBar{
	position: absolute;
	width: 100%;
	height: 20%;
	max-height: 80px;
	min-height: 60px;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
}

.infoNameBar h1{
	float: left;
	padding: 0 20px;
	font-size: 25px;
	margin: 0px;
}

.infoBar{
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 20px
}

.noteBar{
	
}

.turn{
	padding-left: 35px;
}

.turn p, .turn div{
	float: left;
	font-size: 25px;
}

p.topNote{
	color: #99d1c1;
	font-size: 30px;

}

p.bottomNote, p.bottomPosition{
	margin-top: 25px;
}

p.comNote{
	color: #99d1c1;
	font-size: 20px;
}
.slash{
	width: 1px;
	height: 60px;
	background-color: #000;
		-ms-transform: rotate(35deg); /* IE 9 */
    -webkit-transform: rotate(35deg); /* Chrome, Safari, Opera */
    transform: rotate(35deg);
    margin: 0 7px 0 10px;
}


.turnPosition{
	float: right;
	padding-right: 35px;
}

.turnPosition p, .turnPosition div{
	float: left;
	font-size: 25px;
}

p.comPosition{
	color: #5ac4d4;
	font-size: 15px;
	text-align: right;
	padding-right: 42px;
}

p.topPosition{
	color: #5ac4d4;
	font-size: 30px;

}



.ticketBarTop{
	width: 250px;
	height: 80px;
	background-color: #5ac4d4;
	color: #fff;
	text-align: center;
}

.ticketBarTop h2{
	font-size: 17px;
	margin: 0 0 0 0;
	padding-top: 25px;
}

.ticketBarTop h3{
	font-size: 15px;
	margin: 0 0 0 0;
}

.ticketBarBottom{
	width: 250px;
	height: 20px;
	background-color: #323232;
	color: #fff;
	text-align: center;
	margin-top: 1px;
}

.ticketBarBottom p{
	font-size: 13px;
	margin: 0 0 0 0;
	padding-top: 2px;
}

.contentSuperInfoBar{
	height: 950px;
	background-image: url('../img/fondFicheBar.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.superInfoBar{
	width: 70%;
	margin: auto;
	margin-top: 50px;
	background-color: #fff;
	height: 550px;
}

.superInfoBar h2{
	color: #5ac4d4;
	border-bottom: 1px solid #5ac4d4;
	font-size: 17px;
	margin-left: 20px;
}

.superInfoBar p{
	font-size: 15px;
	margin-left: 20px;
	margin-bottom: 0px;
}

.superInfoBar span{
	font-size: 15px;
	margin-left: 20px;
	color : #5ac4d4;
	margin-left: 5px;
}

.superInfoBar span.ouverture{
	color: #99d1c1;
}

.superInfoBar span.fermeture{
	color: #d2232d;
}

.mapView{
	margin: auto;
	width: 80%;
	margin-top: 20px;
	height: 500px;
	padding:0px;
}

.mapView #map-canvas {
	width: 100%;
	height: 100%;
}


/*********FORM BAR***********/

.formBar{
	margin-top: 100px;
	text-align: center;
}

.formBar h1{
	color : #5ac4d4;
	font-size: 25px;
}

.separation1{
	width: 300px;
	height: 1px;
	background-color: #4d4d4d;
	margin: auto;
	margin-top: 15px;
}

.separation2{
	width: 150px;
	height: 1px;
	background-color: #4d4d4d;
	margin: auto;
	margin-top: 5px;
}

.subtitlePageRegister{
	width: 10%
}

.subtitlePageRegister p{
	text-align: right;
	padding-left: 20px;
	border-bottom: 2px solid #5ac4d4;
}

/****************************/


/************FORM INSCRIPTION***********/

.inscription{
	margin-top: 60px;
}

.inscription input[type=radio]{
	margin-left: 20px;
}

.inscription input[type=radio]:nth-child(1){
	margin-left: 0px;
}

.inscription input[type=text], .inscription input[type=email], .inscription input[type=password]{
	width: 350px;
}

.inscription input[type=submit]{
	margin: 40px 0;
	color: #fff;
	background-color: #5ac4d4;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 150px;
}

 .boutton{
	padding: 5px 70px;
	color: #fff;
	background-color: #5ac4d4;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

 a.boutton:hover{
	text-decoration: none;
	color: #fff;
}

p.pCreez{
	margin-top: 40px;
}

.heure{
	margin-top: 15px;
}

.heure select, .access select{
	background-color: #fff;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	border: 1px solid #a8a8a8;
}

.choice{
	width: 40%;
	margin: 10px 5%;
	background-color: #fff;
	color: #4d4d4d;
	border: 1px solid #a8a8a8;
	float: left;
}

.choice:hover, .petitplus:hover{
	background-color: #5ac4d4;
	color: #fff;
}

.noLeft{
	width: 40%;
	margin: 5% auto;
	background-color: #fff;
	color: #4d4d4d;
	border: 1px solid #a8a8a8;
	float: none;
}

.contentPetitPlus{
	width: 100%;
	padding: 0 10%;
	text-align: center;
}

.petitplus{
	width: 18%;
	margin-left: 2%;
	padding: 0 10px;
	background-color: #fff;
	color: #4d4d4d;
	border: 1px solid #a8a8a8;
	float: left;
}

/***************************************/




