<a href="{{path('promotion_index')}}">gerer les options pour les promotions</a>
<a href="{{path('bn_highlight')}}">gerer le nombre de mises en avant</a>
<a href="{{path('validate_carte')}}">valider les cartes</a>
