<p><a href="{{path('promotion_index')}}">gerer les options pour les promotions</a></p>
<p><a href="{{path('bn_highlight')}}">gerer le nombre de mises en avant</a></p>
<p><a href="{{path('validate_carte')}}">valider les cartes</a></p>
<p><a href="{{path('list_bars')}}">Liste des bars</a></p>
