<div class="boxsReservation">
	<div class="boxReservation">
		<div class="row">
			<div class="col-xs-6 col-sm-3 col-md-3 center">
				<p>Lundi 18 mai 2015</p>
				<p>Via</p>
				<p><b>Kevin Marien</b></p>
			</div>
			<div class="col-xs-6 col-sm-3 col-md-3 center">
				<p><b>Le pershing hall</b></p>
				
				<div class="imgBarReservation" style="background-image : url('{{ asset('img/plusReserve.png') }}');">
				</div>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-4 center">
				<div class="donnezAvisReservation">
					<h3>Donnez votre avis</h3>
				</div>
			</div>
			<div class="col-xs-6 col-sm-2 col-md-2 moreReservationUser">
				<p>Dire merci a Kevin</p>
			</div>
		</div>
	</div>
</div>