<!--{% if bar.id is defined %}-->
    <a href="{{ path('bars_offerFeedback', { id : bar.id }) }}"><p>Mon back office</p></a>
    <a href="{{ path('bars_offer', { id : bar.id }) }}"><p>Mes offres</p></a>
<!--{% endif %}-->