{% extends '::base.html.twig' %}

{% block body %}

		<div class="welcome">
			<div class="centerWelcome">
			 	<h1>Rechercher un bar</h1>
				<p>ICI METTRE BARRE DE RECHERCHE</p>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="blocksWelcome">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-4">
							<div class="blockWelcome petitsPrix">
								<p>Les petits prix</p>
							</div>
						</div>

						<div class="col-xs-12 col-sm-4 col-md-4">
							<div class="blockWelcome carteHome">
								<p>Sur la carte</p>
							</div>
						</div>

						<div class="col-xs-12 col-sm-4 col-md-4">
							<div class="blockWelcome plusReserve">
								<p>Les plus réservés</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="explicationWelcome">
			<p class="brand">Click & cheers</p>
			<span class="brandBref">En bref</span>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="blocksWelcome explicationsBlock">
						<div class="row">
							<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="blockExplication">
									<h2>Découvrir</h2>
									<img src="{{asset('img/decouvreHome.svg')}}" alt="">
									<p>Découvrez de nouvelles adresses de nouveaux lieux, de nouveaux bars. </p>
								</div>
							</div>

							<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="blockExplication">
									<h2>Economiser</h2>
									<img src="{{asset('img/economiseHome.svg')}}" alt="">
									<p>Nous négocions pour vous les meilleurs tarifs. Des promotions jusqu’à - 50 % dans vos adresses préférées</p>
								</div>
							</div>

							<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="blockExplication">
									<h2>Parrainer</h2>
									<img src="{{asset('img/parrainerHome.svg')}}" alt="">
									<p>Parrainez vos amis dans les établissements que vous avez découvert grâce à click and cheers. </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
{% endblock %}