{% extends "::base.html.twig" %}

{% block title %}Map{% endblock %}

{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/map.css')}}">
{% endblock %}

{% block body %}

<div id="map_canvas" style="width: 100%;height: 500px;"></div>


<div class="loading">
	<div class='uil-ring-css' style='-webkit-transform:scale(0.29)'>
		<div></div>
	</div>
</div>
 

{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			var adress = {{ adress|json_encode() |raw }};
		    var map;
		    var elevator;
		    var myOptions = {
		        zoom: 12,
		        center: new google.maps.LatLng(48.8534100, 2.3488000),
		        mapTypeId: 'terrain'
		    };
		    map = new google.maps.Map($('#map_canvas')[0], myOptions);
		    var addresses = ($.parseJSON(adress));


		    for (var x = 0; x < addresses.adress.length; x++) {
		    	(function(x) {
		    		setTimeout(function(){
		    		 $.getJSON('http://maps.googleapis.com/maps/api/geocode/json?address='+addresses.adress[x]+'&sensor=false', null, function (data) {
			            var p = data.results[0].geometry.location;
			            var latlng = new google.maps.LatLng(p.lat, p.lng);
			            var marqueur = new google.maps.Marker({
			                position: latlng,
			                map: map
			            });

						var marqueur = new google.maps.Marker({
			                position: latlng,
			                map: map
			            });

			    		var contenuInfoBulle = '<a target="_blank" href="'+ Routing.generate('bar_show', { id: addresses.id[x] })+'">'+addresses.info[x]+'</a>';
						var infoBulle = new google.maps.InfoWindow({
							content: contenuInfoBulle
						});

						google.maps.event.addListener(marqueur, 'click', function() {
							infoBulle.open(map, marqueur);
						});
			        });

		    		 $('.loading').hide();
		    		}, 4000);
			        
				})(x);
		    }
		});
	</script>
{% endblock %}
