{% extends '::base.html.twig' %}

{% block body %}

	<div class="subtitlePageRegisterBig">
		<p>Votre abonnement</p>

	</div>

	<div class="contentAbonnement col-xs-12 col-sm-12 col-md-12">

		<div class="contentTitleInAbonnement col-xs-12 col-sm-12 col-md-12">
			<div class="col1Abonnement col-xs-4 col-sm-4 col-md-4">
			</div>
			<div class="col2Abonnement col-xs-4 col-sm-4 col-md-4">
				<h2>Shooter</h2>
				<img src="{{asset('img/separation_signe.png')}}" alt="">
				<p><b>Description</b> : Cette formule propose un abonnement à prix fixe + part variable à 1€ HT / retours client. </p>
			</div>
			<div class="col2Abonnement col-xs-4 col-sm-4 col-md-4">
				<h2>Cosmopolitan</h2>
				<img src="{{asset('img/separation_signe.png')}}" alt="">
				<p><b>Description :</b> Cette formule propose un abonnement à prix fixe + part variable à 0,50ct HT / retours client.</p>
			</div>
		</div>

		<div class="contentInAbonnement col-xs-12 col-sm-12 col-md-12">
			<div class="col1Abonnement col-xs-4 col-sm-4 col-md-4">
				<p>Permet le parrainage</p>
			</div>
			<div class="col2Abonnement col-xs-4 col-sm-4 col-md-4">
				<div class="greenAbonnement"></div>
			</div>
			<div class="col2Abonnement col-xs-4 col-sm-4 col-md-4">
				<div class="greenAbonnement"></div>
			</div>
		</div>

		<div class="contentInAbonnement col-xs-12 col-sm-12 col-md-12">
			<div class="col1Abonnement col-xs-4 col-sm-4 col-md-4">
				<p>Permet les promotions</p>
			</div>
			<div class="col2Abonnement col-xs-4 col-sm-4 col-md-4">
				<div class="greenAbonnement"></div>
			</div>
			<div class="col2Abonnement col-xs-4 col-sm-4 col-md-4">
				<div class="greenAbonnement"></div>
			</div>
		</div>

		<div class="contentInAbonnement col-xs-12 col-sm-12 col-md-12">
			<div class="col1Abonnement col-xs-4 col-sm-4 col-md-4">
				<p>Vos photos</p>
			</div>
			<div class="col2Abonnement col-xs-4 col-sm-4 col-md-4">
				<div class="greenAbonnement"></div>
			</div>
			<div class="col2Abonnement col-xs-4 col-sm-4 col-md-4">
				<div class="greenAbonnement"></div>
			</div>
		</div>

		<div class="contentInAbonnement col-xs-12 col-sm-12 col-md-12">
			<div class="col1Abonnement col-xs-4 col-sm-4 col-md-4">
				<p>Vos horaires</p>
			</div>
			<div class="col2Abonnement col-xs-4 col-sm-4 col-md-4">
				<div class="greenAbonnement"></div>
			</div>
			<div class="col2Abonnement col-xs-4 col-sm-4 col-md-4">
				<div class="greenAbonnement"></div>
			</div>
		</div>

		<div class="contentInAbonnement col-xs-12 col-sm-12 col-md-12">
			<div class="col1Abonnement col-xs-4 col-sm-4 col-md-4">
				<p>Les accès</p>
			</div>
			<div class="col2Abonnement col-xs-4 col-sm-4 col-md-4">
				<div class="greenAbonnement"></div>
			</div>
			<div class="col2Abonnement col-xs-4 col-sm-4 col-md-4">
				<div class="greenAbonnement"></div>
			</div>
		</div>

		<div class="contentInAbonnement col-xs-12 col-sm-12 col-md-12">
			<div class="col1Abonnement col-xs-4 col-sm-4 col-md-4">
				<p>Vos prix moyens</p>
			</div>
			<div class="col2Abonnement col-xs-4 col-sm-4 col-md-4">
				<div class="greenAbonnement"></div>
			</div>
			<div class="col2Abonnement col-xs-4 col-sm-4 col-md-4">
				<div class="greenAbonnement"></div>
			</div>
		</div>

		<div class="contentInAbonnement col-xs-12 col-sm-12 col-md-12">
			<div class="col1Abonnement col-xs-4 col-sm-4 col-md-4">
				<p>Les avis</p>
			</div>
			<div class="col2Abonnement col-xs-4 col-sm-4 col-md-4">
				<div class="greenAbonnement"></div>
			</div>
			<div class="col2Abonnement col-xs-4 col-sm-4 col-md-4">
				<div class="greenAbonnement"></div>
			</div>
		</div>
		<div class="contentInAbonnement col-xs-12 col-sm-12 col-md-12">
			<div class="col1Abonnement col-xs-4 col-sm-4 col-md-4">
				<p><u>en option : </u></p>
				<p>Envois de SMS</p>
				<p>Envois de E-mail</p>
				<p>Votre menu en ligne</p>
				<p>Parlez de vos évènements</p>
			</div>
			<div class="col2Abonnement col-xs-4 col-sm-4 col-md-4">
				<div class="orangeAbonnementText">5€ d'option offert<br>pendant 2 mois</div>
			</div>
			<div class="col2Abonnement col-xs-4 col-sm-4 col-md-4">
				<div class="greenAbonnementText">5€ de crédit<br>inclus</div>
			</div>
		</div>
		<div class="contentInAbonnement col-xs-12 col-sm-12 col-md-12">
			<div class="col1Abonnement col-xs-4 col-sm-4 col-md-4">
				<p>Période d'essai</p>
			</div>
			<div class="col2Abonnement col-xs-4 col-sm-4 col-md-4">
				
			</div>
			<div class="col2Abonnement col-xs-4 col-sm-4 col-md-4">
				<div class="greenAbonnementText2"><p>1 mois offert</p></div>
			</div>
		</div>

		<div class="contentTitleInAbonnement col-xs-12 col-sm-12 col-md-12">
			<div class="col1Abonnement col-xs-4 col-sm-4 col-md-4">
			</div>
			<div class="col2Abonnement col-xs-4 col-sm-4 col-md-4">
				<div class="relative">
					<p class="oldPrice">19€ <span>/ mois</span>	</p>
					<div class="barreAbonnement"></div>
				</div>
				<p class="petitAbonnement">+1€ par retour client</p>
				<p class="blueAbonnement">Offre de lancement</p>
				<p class="newPrice"><b>0€ </b><span>/ mois</span></p>
				<p class="petitAbonnement">+1€ par retour client</p>
				<p class="dureeAbonnement">Pendant 1 ans</p>

				<div class="souscrireAbonnement">
					<p>SOUSCRIRE</p>
				</div>
				<p>Sans engagement</p>
				
			</div>
			<div class="col2Abonnement col-xs-4 col-sm-4 col-md-4">
				<div class="relative">
					<p class="oldPrice">69€ <span>/ mois</span>	</p>
					<div class="barreAbonnement"></div>
				</div>
				<p class="petitAbonnement">+0,50ct par retour client</p>
				<p class="blueAbonnement">Offre de lancement</p>
				<p class="newPrice"><b>49€ </b><span>/ mois</span></p>
				<p class="petitAbonnement">+0,50ct par retour client</p>
				<p class="dureeAbonnement">Pendant 1 ans</p>

				<div class="souscrireAbonnement">
					<p>SOUSCRIRE</p>
				</div>
				<p>Sans engagement</p>

			</div>
		</div>
	</div>
		


		<div class="clear"></div>
{% endblock %}