{% extends "::basepro.html.twig" %}

{% block title %}Upload fichier{% endblock %}

{% block body %}
<div>
    {{ bar.name }}

    {{ form(form) }}
</div>
{% endblock %}
{% block javascripts %}
{% endblock %}
