<div class="mainContaineur">
	{% trans_default_domain 'FOSUserBundle' %}

	{% block fos_user_content %}
	{% if error %}
	    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}
	<form class="popLogin" action="{{ path("fos_user_security_check") }}" method="post">
	    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

	    <label for="username">E-MAIL</label><br>
	    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
	    <br>
	    <br>
	    <label for="password">MOT DE PASSE</label><br>
	    <input type="password" id="password" name="_password" required="required" />
	    <br>
	    <div class="loginRemember">
		    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
		    <label for="remember_me">SE SOUVENIR DE MOI</label>
		</div>
	    <br>
	    <input type="submit" id="_submit" name="_submit" value="SE CONNECTER" />
	</form>
	{% endblock fos_user_content %}
	<div class="clear"></div>
</div>
