{% for option in options %}
  <div class="JS-contentMesOptions">
    <div class="mesOptionsEnCours col-xs-12 col-sm-12 col-md-12 noPadding">
      <div class="ligneMesOption1">
        <div class="col-xs-4 col-sm-4 col-md-4 noPadding">
          <p class="dataMiseEnAvant" data-genre="{{option.name}}">{{option.name}}</p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 noPadding">
          <p>en cours</p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 noPadding">
          <div class="closeMesOptionEnCours">
            <p class="stopOption">STOP</p>
          </div>
        </div>
      </div>
      <div class="ligneMesOption2">
        <div class="col-xs-4 col-sm-4 col-md-4 noPadding">
          <span>Souscrit le <p class="dataDate" data-date="{{option.createdAt|date("d/m/Y")}}">{{option.createdAt|date("d/m/Y")}}</p>
        </div>
        <!-- <div class="col-xs-4 col-sm-4 col-md-4 noPadding">
          <p class="dataPrix" data-prix="1">1€/Jour</p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 noPadding">
          <p class="dataTotal" data-total="18,90">18,90€</p>
        </div> -->
      </div>
    </div>
  </div>
{% endfor %}
